@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto de Inventario usando MVC</h1>
    <p>Proyecto de curso para el desarrollo de aplicaciones web utilizando ASP.NET Core con MVC.</p>
</div>
